@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --text-color : #5A2B17;
    --button-color : #ED8F2F;
}

body {
    margin: 0px;
    font-family: 'Open Sans' , sans-serif;
    background-color: white;
    color: var(--text-color);
    font-weight: 600;
}

h1,h2,h3,p {
    margin: 0px;
}

/* textarea */

textarea {
    width: 100%;
    display: block;
    padding: 1rem;
    font-family: inherit;
    min-height: 20vh;
    font-size: 16px;
    color : black;
    border: none;
    background-color: #F7D8D4;
    border-radius: 8px;
}

textarea:focus {
    outline: none;
}

/* containers */
.centered-container {
    text-align: center;
}

/* seciton */

.section {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
}

.section .translate-output {
    min-height: 10vh;
    max-height: 20vh;
}

/* navigations */
.navigation {
    text-align: center;
    margin-bottom: 24px;
    display: block;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.heading img {
    max-width: 100px;
}

/* button */

button {
    border: none;
    padding: 16px;
    background-color: var(--button-color);
    font-size: 18px;
    font-family: inherit;
    color :white;
    margin-top: 12px;
    margin-bottom: 24px;
}

footer {
    bottom: 0px;
    width: 100%;
    position: fixed;
    text-align: center;
    padding: 1rem;
}

footer h2 {
    margin-bottom: 12px;
}

footer p{
    max-width: 600px;
    margin: auto;
    line-height: 22px;
}
